In [1]:
# Import necessary libraries
import pandas as pd

# Define the age groups and their corresponding salary data
age_groups = [
    {"Age Group": "20-29", "Average Salary ($)": 4416.00, "Median Salary ($)": 4300, "Salary Range ($)": "3500 - 5000", "Employment Rate (%)": 60},
    {"Age Group": "30-39", "Average Salary ($)": 5311.00, "Median Salary ($)": 5200, "Salary Range ($)": "4500 - 6000", "Employment Rate (%)": 75},
    {"Age Group": "40-49", "Average Salary ($)": 6786.00, "Median Salary ($)": 6700, "Salary Range ($)": "6000 - 8000", "Employment Rate (%)": 80},
]

# Create a DataFrame from the age group data
age_group_df = pd.DataFrame(age_groups)


age_group_df.to_csv("../Data/2024_salarybyagegroup_data.csv", index=False)

# Display the shape of the DataFrame
print("Shape of the DataFrame:", age_group_df.shape)

# Display the first few rows
age_group_df

Shape of the DataFrame: (3, 5)

,Age Group,Average Salary ($),Median Salary ($),Salary Range ($),Employment Rate (%)
0,20-29,4416.0,4300,3500 - 5000,60
1,30-39,5311.0,5200,4500 - 6000,75
2,40-49,6786.0,6700,6000 - 8000,80